<!-- This template is used to display a registration confirmation email to the user   -->
<h2>Hello futur astronaute !</h2>

<img src="https://th.bing.com/th/id/OIG3.RRVtDBrjdCs06bKIxlxH?pid=ImgGn'" width="100" height="100"
    alt="Image de Yoga envoyant un mail">

<h3>Vous êtes sur le point de rejoindre la communauté O'Galaxy !</h3>

<p> Nous sommes ravis de vous accueillir parmi nous. <br><br>
    Pour confirmer votre inscription, merci de cliquer sur le lien suivant : <br>
    <a href="{{ signedUrl|raw }}"role="button" aria-label="Bouton pour confirmer son email d'inscription">Je confirme mon email.</a><br>
    <i>Le lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</i>
</p>

<p> Vers l'infini et au-delà ! </p>