<!-- This template is used to display the add or delete a button for the favorite   -->
{% if is_granted("ROLE_USER") %}

{% if expedition in app.user.expedition %}

<a href="{{path ('app_front_favorite_remove', {id: expedition.id})}}"><img src="{{ asset('images/favoris-orange.png') }}" alt="Bouton supprimer des favoris" role="button" aria-label="Bouton pour supprimer un favorie"width="30" height="30"></a>
{% else %}
<a href="{{path ('app_front_favorite_add', {id: expedition.id})}}"><img src="{{ asset('images/favoris-beige.png') }}" alt="Bouton d'ajout aux favoris" role="button" aria-label="Bouton pour ajouter un favorie"width="30" height="30"></a>
{% endif %}
{% endif %}