<form method="post" action="{{ path('app_admin_article_delete', {'id': articleShow.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articleShow.id) }}">
    <button class="btn delete__btn" aria-label="Supprimer de la liste des articles">Supprimer</button>
</form>