:root {
    /* LIGTH MODE */
    --light-text: #09192a;
    --light-background: #ffffff;
    --light-primary: #d26a37;
    --light-secondary: #0b475f;
    --light-accent: #7b999b;

    /* DARK MODE */
    --dark-text: #f6edcb;
    --dark-background: #09192a;
    --dark-primary: #0b4860;
    --dark-secondary: #7c9a9c;
    --dark-accent: #d26b37;

    /* FONTS */
    --title: 'Bruno Ace SC', display, sans-serif;
    --text: 'Aldrich', sans-serif;

    /* CASSETTE */
    --cassette-width: 600px;
    --cassette-height: calc(var(--cassette-width) * 0.6);
    --cassette-texture: 
    repeating-linear-gradient(
        to bottom, 
        #252525 0 3px, 
        transparent 3px 7px
    );
}

#wrapper {
    background-color: var(--dark-background);
    font-family: var(--text);
}

a.nav-link.active:hover {
    color: var(--dark-accent);
}

a.nav-link.active {
    color: var(--dark-accent);
}

/** ERROR PAGE **/

.container__error {
    max-width: 100vw;
    max-height: 100vh;
    width: 2000px;
    padding: 2rem;
    margin: auto;
    display: grid;
    color: var(--dark-text);
}

.header__page__error {
    font-family: var(--title);
}

.h1__error{
    color : var(--dark-secondary);
}

.h3__error {
    color: var(--dark-accent);
}

.p__error {
    color: var(--dark-text);
    font-size: 1.5rem;
}

.p__error__403 {
    color: var(--dark-text);
    font-size: 1.4rem;
}

.header__page .h1__error {
    font-size: 4rem;
    font-weight: 900;
}

.container__error .h3___error {
    font-size: 2rem;
    font-weight: 900;

}

.container__error  .img__error {
    width: 100%;
    max-width: 450px;
    margin: auto;
}

.footer__page__error{
    display: grid;
    gap: 2rem;
    place-content: baseline;
}

.footer__page__error .p__error {
    font-variation-settings: 1rem;
}

.footer__page button {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: var(--dark-primary);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--dark-secondary);
    cursor: pointer;
    transition: .3s;
}

.footer__page button:hover{
    background-color: var(--dark-primary);
    color : var(--dark-accent)
}

/** NAVBAR **/

.nav__color {
    background-color: var(--dark-primary);
    color : var(--dark-text)

}

#nav__title {
    color : var(--dark-accent);
    font-size : 2rem;
    font-family: var(--title);
}

a.nav-link {
    color : var(--dark-text);
    font-size : 1.5rem;
}

a.nav-link:hover {
    color : var(--dark-accent);
}

#nav__text {
    color : var(--dark-text);
    font-size : 1.5rem;
}

#nav__text:hover {
    color : var(--dark-accent);
}

#nav__btn {
    color : var(--dark-text);
    border: none;
}

#nav__drop {
    background-color: var(--dark-secondary);
    width: 18rem;
    font-size: 1.1rem;
}

a.dropdown-item {
    color : var(--dark-text)
}

a.dropdown-item:hover{
    background-color: var(--dark-accent)
}

.nav__icon {
    display:flex;

}

#nav__input {
    width: 18rem;
}

span.bi-list {
    color: var(--dark-text);
}

/** SEARCH **/

.search__title{
    color : var(--dark-accent);
    font-family: var(--title);
    font-size: 1.2rem;
}

.search__img {
    width: 30%;
    align-self: center;

}

.search__text{
    color : var(--dark-text);
    font-size: 1.2rem;
    font-family: var(--text);
}

/** MISC - FRONT **/

.misc__wrapper {
    color: var(--dark-text);
    font-family: var(--text);
    text-align: center;
    font-size: large;
}

.misc__wrapper h1,
.misc__wrapper h2,
.misc__wrapper h3 {
    font-family: var(--title);
    color: var(--dark-accent);
    padding-bottom: 0.5em;
}

.misc__wrapper h4 {
    color: var(--dark-accent);
}

.misc__wrapper p {
    padding: 1em;
}

a.button {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
}

a.button:hover {
    background-color: var(--dark-primary);
    color : var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

.answer {
    display: none;
}

.answer.active {
    display: block;
}

/** NEWS - FRONT **/

.news-img {
    width: 40%;
    align-self: center;
}

.new__title {
    color: var(--dark-accent);
    font-family: var(--title);
    font-size: 1.5rem;
}  

a.new__button {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    font-size: 1rem;
}

a.new__button:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

.photo-au {
    clip-path:ellipse(40% 50%);
}

.plus {
    background-color: var(--dark-background);
    color: var(--dark-accent);
    font-size: larger;
    transition: transform 0.3s ease;
    border: none;
}

.plus.rotated {
    transform: rotate(45deg);
}

.news__text.text-concat {
    color: var(--dark-text);
    font-size: 1.2rem;
}

.text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.8em;
}
    
.text.ellipsis::after {
    content: "...";
    position: relative;
    bottom: 0.7em;
}
    

/** HOMEPAGE - FRONT **/

.home__bigtitle {
    color : var(--dark-accent);
    font-family: var(--title);
}

.home__title{
    color : var(--dark-accent);
    font-family: var(--title);
}

.home__container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.home__card__bg {
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: none;
    width: 100%;
}

#home__next__border {
    border: none;
    background-color: var(--dark-background);
}

#home__heart__border {
    border: none;
    background-color: var(--dark-background);
}

.card {
    border : none;
}

.home__carousel {
    width: 40rem;
}

#home__title {
    color : var(--dark-text);
    font-family: var(--title);
    font-size: 2rem;
    text-shadow: 0px 0px 30px  var(--dark-primary),
                0px 0px 40px #00f7ff;
}

.home__container {
    box-shadow: 0px 0px 10px  var(--dark-primary),
                0px 0px 20px #00e1ff; border-radius :1rem;
}

.home__arrow {
    margin : 2rem;
}

.home__text__dep {
    color : var(--dark-text);
    font-size: 0.8rem;
    color: var(--dark-text);
}

.white__arrow {
    filter: invert(1);
}

/** FAVORITES **/

a.remove__btn {
    border-radius: 2rem;
    background-color: var(--dark-accent);
    color: var(--dark-primary);
}

a.remove__btn:hover {
    background-color: var(--dark-primary);
    color : var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

/** EXPEDITIONS - FRONT **/
/* LIST */

#list__bigtitle {
    color : var(--dark-accent);
    font-family: var(--title);
    
}

#list__wrapper {
    background-color: var(--dark-background);
    border: none;
}

#list__title {
    color : var(--dark-accent);
    font-family: var(--title);
    font-size: 1.5rem;
}

.list__text__small {
    color : var(--dark-text);
    font-size: 0.8rem;
}

.list__text {
    color : var(--dark-text);

}

img.img-fluid {
    margin-top: 1rem;
}

a.list__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
}

a.list__btn:hover {
    background-color: var(--dark-primary);
    color : var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

.list__text.text-concat {
    position: relative;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.7em;
    text-align: left;
    }
    
.text.ellipsis::after {
    color: var(--dark-text);
    content: "...";
    position: relative;
    bottom: 0.7em;
}

.custom-truncate_text {
    font-size: 1.2rem;
}

/** SHOW **/

/* title show expedition */

#show__bigtitle {
    color : var(--dark-accent);
    font-family: var(--title);
    font-size : 2.5rem;
}

#show__smalltitle {
    color : var(--dark-accent);
    font-family: var(--title);
    font-size : 2rem;
}

.show__size__title{
    font-size: 1.7rem;
    font-family: var(--titre);
    color: var(--dark-secondary);
}

/* content show expedition */

div.card-body {
    background-color: var(--dark-background);
    color: var(--dark-text);
    border: none;
}

div.card-header {
    color: var(--dark-text);
    background-color : var(--dark-primary);
}

#show__border {
    border: none;
    background-color: var(--dark-background);
}

.show__size__text {
    font-size: 1.4rem;
}

.show__size__desc {
    font-size: 1.4rem;
}

.show__color__span {
    color: var(--dark-accent);
}

#show__image__size {
    width: 35%;
}

/* button and icon show expedition */

.show__icon {
    color: var(--dark-accent);
}

button.show__booking__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    font-size: 1.5rem;
}

button.show__booking__btn:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
    box-shadow: 0px 0px 30px  var(--dark-accent),
                0px 0px 40px RGB(220,120,0);
}

a.show__login__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    font-size: 1.5rem;
}

a.show__login__btn:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
    box-shadow: 0px 0px 30px  var(--dark-accent),
                0px 0px 40px RGB(220,120,0);
}

.like__btn {
    margin-right: 3em;
}

a.show__btn__back {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    font-size: 1.3rem;
}

a.show__btn__back:hover{
        background-color: var(--dark-primary);
        color : var(--dark-accent);
        box-shadow: 0px 0px 10px  var(--dark-accent),
                    0px 0px 20px RGB(220,120,0);
}

/* section comments show expedition */

footer.blockquote-footer {
    color: var(--dark-secondary)
}

.show__title__comment {
    font-size: 1.7rem;
    color: var(--dark-accent)
}

.show__comment__font {
    font-family: var(--title);
}

#show__comment {
    background-color: var(--dark-background);
}

.show__comment__container {
    font-family : var(--text);
    color: var(--dark-text);
}

.form-label  {
    font-size: 1.2rem;
    color: var(--dark-text);
    font-family : var(--text);
}

legend.col-form-label {
    font-size: 1.2rem;
    color: var(--dark-text);
    font-family : var(--text);
}

button.show__comment__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    font-size: 1rem;
}

button.show__comment__btn:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

/** MODAL **/

.modal__header__bg {
    background-color: var(--dark-background);
    color: var(--dark-accent);
    font-family: var(--title);
    
}

.modal__footer__bg {
    background-color: var(--dark-background);
    color: var(--dark-text);
}

.modal__body__bg {
    background-color: var(--dark-primary);
    color: var(--dark-text);
}

.btn__close {
    background-color: var(--dark-background);
    border: none;
    color: var(--dark-accent);
    font-size: 2em;
}

button.modal__btn {
    border-radius: 2rem;
    background-color: var(--dark-accent);
    color: var(--dark-primary);
}

button.modal__back__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
}

button.modal__btn:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
}

button.modal__back__btn:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
}

/** LOGIN PAGE **/ 

.login__color {
    color:var(--dark-text);
}

button.login__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    font-size: 1rem;
}

button.login__btn:hover {
    background-color: var(--dark-primary);
    color:var(--dark-accent);
    box-shadow: 0px 0px 30px  var(--dark-accent),
                0px 0px 40px RGB(220,120,0);
}

/** PROFILE PAGE **/ 

.profile__color {
    color:var(--dark-text);
    text-align: left;
    margin-top: 45px;
    font-size: x-large;
    margin-left: 15px;
}

button.modify__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
    margin-top: 15px;
}

button.modify__btn:hover {
    background-color: var(--dark-primary);
    color : var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

.booking__bigtitle {
    color : var(--dark-accent);
    font-family: var(--title);
    margin-top: 35px;
    margin-left: 35px;
    text-align: left !important;
}

.booking__title {
    font-size: 1.5rem;
    color : var(--dark-accent);
    font-family: var(--title);
}

.booking__pictures {
    margin-left: 35px;
}

a.profile__btn {
    border-radius: 2rem;
    background-color: var(--dark-secondary);
    color: var(--dark-primary);
}

a.profile__btn:hover {
    background-color: var(--dark-primary);
    color : var(--dark-accent);
    box-shadow: 0px 0px 10px  var(--dark-accent),
                0px 0px 20px RGB(220,120,0);
}

/** FOOTER **/

.footer__navbar {
    background-color: var(--dark-primary);
}

.footer__title {
    color: var(--dark-accent);
    font-family: var(--title);
}

.footer__text {
    color: var(--dark-text);
    text-decoration: none;
}

.footer__text:hover {
    color: var(--dark-accent);
    text-decoration: none;
}

.footer__network {
    color: var(--dark-accent);
    font-size: 1.8rem;
}

.footer__network:hover {
    color: var(--dark-secondary);
}

.footer__copyright {
    background-color: var(--dark-background);
}

.footer__paraph {
    color: var(--dark-text)
}

#button-search {
    color : var(--dark-text);
    border: none;
}

/** OUR ALBUM **/ 

@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

@font-face {
    font-family: 'Galactic Vanguardian NCV';
    src: 
    local('Galactic Vanguardian NCV'),
    url(https://manzdev.github.io/cursos-assets/css3/fonts/galactic.woff) format('woff'),
    url(https://manzdev.github.io/cursos-assets/css3/fonts/galactic.ttf) format('truetype')
}

.cassette {
    width: var(--cassette-width);
    height: var(--cassette-height);
    margin: 3em auto;
    padding: 1.4em 1em 0 1em;  
    background-color: #333;
    background-image: 
        linear-gradient(120deg, rgba(0,0,0, 0.5), rgba(0,0,0, 0.05)), 
        var(--cassette-texture);
    clip-path: polygon(
        1% 6%, 5% 0, 95% 0, 99% 6%, 99% 78%,
        100% 80%, 100% 94%, 97% 100%, 4% 100%, 0 94%, 
        0 80%, 1% 78%, 1% 6%, 0 0, 1% 6%);
    
    display: flex;
    flex-direction: column;
}

.label {
    background-color: #fff;
    background-image:
        linear-gradient(transparent 45%, 
        #d26b37 45% 46%, transparent 46% 52%,
        #d26b37 52% 53%, transparent 54% 58%,
        #d26b37 58% 59%, transparent 60% 64%,
        #d26b37 64% 67%, transparent 67% 70%,
        #d26b37 70% 74%, transparent 74% 76%,
        #d26b37 76% 80%, transparent 80% 83%,
        #d26b37 83% 89%, transparent 89% 91%,
        #d26b37 91% 100%
        ),
        linear-gradient(130deg, #bbb, #fff);
    border-radius: 25px;
    height: 75%;
    box-shadow: 0 0 8px 1px rgba(0,0,0, 0.5) inset;  
    clip-path: polygon(
        0 100%, 0 17%, 6% 0, 94% 0, 100% 17%, 100% 100% 
    );
}

.central {
    background-color: #444;
    border: 2px solid #000;
    width: calc(var(--cassette-width) / 1.6);
    height: 110px;
    margin: auto;
    overflow: hidden;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    position: relative;
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image:
        linear-gradient(
            150deg,
            transparent 14%,
            rgba(255,255,255, 0.1) 15% 25%, 
            transparent 26% 30%,
            rgba(255,255,255, 0.1) 31% 34%,
            transparent 35% 37%,
            rgba(255,255,255, 0.1) 38% 39%,
            transparent 40%
        );    
    }
}

.axis {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::after {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        border: 4px solid #292929;
        border-radius: 50%;
        background: #555;
    }
}

.arc {
    width: 70px;
    height: 70px;
    background: #aaa;
    border-radius: 50%;
    
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 70px;
        background:
        linear-gradient(
            #aaa 20px,
            transparent 20px 50px,
            #aaa 50px 70px
        );
    }

    &::after {
        transform: rotateZ(90deg);
    }  
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tape {
    --tape-left-size: 175px;
    --tape-right-size: 125px;
    
    border-radius: 50%;
    border: 2px solid #222;
    background: #111;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    &&.left {
        width: var(--tape-left-size);
        height: var(--tape-left-size);
    }
    &&.right {
        width: var(--tape-right-size);
        height: var(--tape-right-size);
    }
}

.animated .tape {
    animation: spin 6s linear infinite forwards;
    &.right { animation-duration: 3s; }
}

@keyframes spin {
    0% { transform: rotateZ(360deg) }
    100% { transform: rotateZ(0) }
}

.text__album {
    padding-top: 0.5em;
    font-family: var(--text);
    font-size: 32px;
    text-align: center;
    color: #555;
}

.bottom {
    background-color: #222;
    width: calc(var(--cassette-width) / 1.5);
    height: 80px;
    margin: 1em auto 0;
    padding: 0.8em;
    clip-path: polygon(0 100%, 5% 0, 95% 0, 100% 100%);
    
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.bottom .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 50px;
}

.screw {
    width: 20px;
    height: 20px;
    background: #111;
    border-radius: 50%; 
}

.inner .screw {
    
}

div.title {
    padding: 0.4em;
    display: none;
    font-family: 'Galactic Vanguardian NCV';
    font-size: 55px;
    letter-spacing: -4px;
    color: #fff;
    text-shadow:
        2px 2px 1px rgba(0,0,0, 0.8), 
        0 0 20px #d26b37;
}

div.title .little {
    display: flex;
    flex-direction: column;
    letter-spacing: -1px;
    font-size: 32px;
    text-align: right;
}

div.title > div {
    display: flex;
    justify-content: center;
}

.play, .stop {
    width: 200px;
    height: 75px;
    margin: 1em auto;
    background: #eee;
    border: 6px solid #bbb;
    border-top-color: #fff;
    border-left-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: 'Galactic Vanguardian NCV';
    font-size: 32px;
    text-shadow: 
        0 2px 3px rgba(255, 255, 255, 0.5),
        0 3px 4px rgba(0, 0, 0, 0.5);
    
    &:hover {
        cursor:pointer;    
    }
    &:active {
        position: relative;
        top: 4px;
        color: #444;
        background: #ccc;
        border-color: #fff;
        border-top-color: #bbb;
        border-left-color: #bbb;
        outline: 1px solid #000;
    }
}

.title {
    opacity: 0;
}

.title.running {
    animation: stamp 5s ease 1 forwards;
    will-change: opacity;
}

@keyframes stamp {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

/** MEDIA QUERIES **/

@media (max-width: 575.98px) {
    .nav__icon {
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }

    #show__image__size {
        width: 100%;
    }

}

