<!-- This template is used to display the form to create or edit an expedition -->
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn save__btn mt-3" aria-label="Bouton pour enregistrer l'expédition">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}