<!-- This template is used to display the booking form   -->
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="modal-footer modal__footer__bg">
        <button type="button" class="btn modal__back__btn" data-bs-dismiss="modal" aria-label="Bouton pour retourner sur l'expédition choisie">Retour</button>
        <button type="submit" class="btn modal__btn" aria-label="Bouton pour réserver l'expédition choisie">Réserver</button>
    </div>
{{ form_end(form) }}