<!-- This template is used to display the form to create or edit a user -->
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn save__btn" aria-label="Bouton pour enregistrer l'utilisateur'">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}