{% extends 'back/backoffice.html.twig' %}

{% block title %}
	Créer un utilisateur
{% endblock %}

{% block body %}
<!-- Create a new user-->
<section id="create-user"  aria-labelledby="create-user-profile">
	<div class="container col-9 my-4">
			<h3 class="display-4 page__title"> Créer un utilisateur </h3>
			<a class="btn return__btn mb-3" href="{{ path('app_admin_user_list') }}" role="button" aria-label="Retour à la liste des utilisateurs">
				Retour à la liste
			</a>
            
			{{ include('back/user/_form.html.twig') }}
	</div>
</section>
{% endblock %}