<form method="post" action="{{ path('app_admin_booking_delete', {'id': bookingShow.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette réservation ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bookingShow.id) }}">
    <button class="btn delete__btn" aria-label="Bouton pour supprimer la réservation">Supprimer</button>
</form>