{% extends 'back/backoffice.html.twig' %}

{% block title %}
	Créer une réservation
{% endblock %}

{% block body %}
<!-- Create a new booking-->
<section id="create-booking" aria-labelledby="create-one-booking">
	<div class="container col-9 my-4">
			<h3 class="display-4 page__title"> Créer une réservation </h3>
			<a class="btn return__btn mb-3" href="{{ path('app_admin_booking_list') }}" role="button" aria-label="Bouton retour à la liste des réservations" >
				Retour à la liste
			</a>

			{{ include('back/booking/_form.html.twig') }}
	</div>
</section>
{% endblock %}