{% extends 'base.html.twig' %}

{% block title %}Notre histoire{% endblock %}

{% block body %}
<!-- Display the about us -->
<section id="about-us" aria-labelledby="about-us-description" class="misc__wrapper">
    <div class="container-fluid p-5 col-12 col-lg-8">
        <img src="{{ asset('images/obase.png') }}" class="rounded mx-auto d-none d-md-block pb-5" alt="photo de la base de décollage de O'Galaxy">
        <h2>Vers l'infini et au-delà</h2>
        <p>Grâce aux avancées technologiques de notre ingénieur en chef, Melon Usk, les voyages interstellaires sont désormais possibles ! Notre agence de voyage intergalactique repousse les limites de l'exploration spatiale en combinant une expertise de pointe avec une passion pour l'univers de Star Wars. Que vous soyez un explorateur chevronné ou un voyageur novice, nous vous offrons une expérience inégalée au-delà des étoiles. Nos experts ont dédié leur savoir-faire à l'élaboration d'expéditions extraordinaires, vous permettant de vivre des aventures qui transcendent l'imaginaire et de créer des souvenirs qui dureront toute une vie. Embarquez avec nous pour une aventure épique à travers les étoiles et découvrez les merveilles cachées de la galaxie Star Wars.</p>

        <h3>Expéditions Uniques</h3>
        <p>Nous avons soigneusement sélectionné une variété d'expéditions passionnantes vers des destinations emblématiques de l'univers de Star Wars. Des mondes riches en histoire et en mystère vous attendent, que vous souhaitiez suivre les traces des Jedi sur Dagobah, faire des affaires louches sur Nar Shaddaa, ou simplement explorer de nouveaux horizons. Avec notre sélection diversifiée d'expéditions, nous avons l'aventure parfaite pour chaque type de voyageur. Plongez-vous dans des cultures étranges, découvrez des artefacts anciens et explorez des paysages à couper le souffle qui défient l'imagination. Laissez-vous emporter par la magie de la galaxie Star Wars et préparez-vous à vivre des moments qui resteront gravés dans votre mémoire pour les siècles à venir.</p>

        <h3>Aventures Sur Mesure</h3>
        <p>Chaque expédition est conçue pour vous offrir une expérience authentique et immersive. Nos guides expérimentés vous feront découvrir des paysages époustouflants, des cultures fascinantes et des aventures uniques que seul l'univers de Star Wars peut offrir. Des activités spéciales telles que la course de modules sur les gratte-ciel de Coruscant ou la découverte de secrets anciens sur les planètes sacrées enrichiront votre voyage, créant des souvenirs durables et inoubliables. Que vous soyez un passionné d'histoire, un amateur de nature ou un explorateur intrépide, nos expéditions vous promettent une expérience sur mesure adaptée à vos intérêts et à vos désirs. Plongez dans l'aventure avec O'Galaxy et laissez-vous transporter vers des mondes lointains et exotiques.</p>

        <h3>Sécurité et Confort</h3>
        <p>Votre sécurité et votre confort sont notre priorité absolue. Nous nous engageons à fournir des expéditions sûres et sans tracas, en travaillant en étroite collaboration avec les autorités locales et les organisations intergalactiques. Nos installations de pointe garantissent un voyage confortable, des navettes spatiales modernes aux hébergements luxueux. Vous pourrez ainsi profiter pleinement de chaque moment de votre aventure intergalactique en toute tranquillité d'esprit. Notre équipe dévouée est là pour répondre à tous vos besoins et vous assurer une expérience de voyage inoubliable. Que vous voyagiez seul, en famille ou en groupe, nous mettons tout en œuvre pour que votre voyage soit une expérience magique et sans souci.</p>

        <h3>Créez des Souvenirs Inoubliables</h3>
        <p>Que vous soyez un passionné d'exploration ou simplement en quête d'aventure, une expédition avec O'Galaxy vous offre la chance de créer des souvenirs inoubliables. Des moments uniques tels que contempler un coucher de soleil sur les dunes de Tatooine, découvrir des espèces exotiques dans les forêts de Kashyyyk, ou vous immerger dans la vie trépidante des marchés de Corellia resteront gravés dans votre mémoire pour les siècles à venir. Rejoignez-nous pour une expérience qui transcende les frontières de l'imaginable et explorez les confins de la galaxie Star Wars avec O'Galaxy.</p>
    </div>
        <div class="d-none d-lg-flex justify-content-between col-12">
            <img src="{{ asset('images/explore.png') }}" class="rounded img-fluid photo-au" alt="photo d'un voyageur scrutant l'horizon depuis le toit de son 4x4">
            <img src="{{ asset('images/tatooine.png') }}" class="rounded img-fluid photo-au" alt="photo d'un campement de voyageurs au milieu des déserts de Tatooine">
        </div>

</section>
{% endblock %}