{% extends 'base.html.twig' %}

{% block title %}Confidentialité{% endblock %}

{% block body %}
<!-- Display of the confidentiality -->
<section id="confidentiality" aria-labelledby="confidentiality-list" class="misc__wrapper">
    <div class="container-fluid p-5">
        <h2>Règles de Confidentialité</h2>
        <p>Chez O'Galaxy, nous accordons une grande importance à la confidentialité et à la sécurité de vos données personnelles. Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons les informations que vous nous fournissez.</p>

        <h2>1. Collecte des informations :</h2>
        <p>Nous collectons des informations lorsque vous utilisez notre site web, nos services ou lorsque vous interagissez avec nous. Les informations collectées peuvent inclure votre nom, votre adresse e-mail, votre adresse postale, votre numéro de téléphone, vos informations de paiement, vos préférences de voyage, etc.</p>

        <h2>2. Utilisation des informations :</h2>
        <p>Les informations que nous collectons sont utilisées pour traiter vos demandes, personnaliser votre expérience utilisateur, améliorer notre site web et nos services, et vous contacter. Nous ne vendons ni ne louons vos informations personnelles à des tiers.</p>

        <h2>3. Protection des informations :</h2>
        <p>Nous mettons en place des mesures de sécurité pour protéger vos informations personnelles contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction.</p>

        <h2>4. Cookies :</h2>
        <p>Notre site web utilise des cookies pour améliorer votre expérience utilisateur. En naviguant sur notre site, vous consentez à l'utilisation de cookies conformément à notre politique en matière de cookies.</p>

        <h2>5. Partage des informations :</h2>
        <p>Nous pouvons partager vos informations personnelles avec des tiers uniquement dans le cadre de la fourniture de nos services, par exemple avec nos partenaires de voyage pour organiser vos voyages spatiaux.</p>

        <h2>6. Vos droits :</h2>
        <p>Vous avez le droit d'accéder, de rectifier, de supprimer ou de limiter l'utilisation de vos informations personnelles. Vous pouvez exercer ces droits en nous contactant à l'adresse indiquée dans nos mentions légales.</p>

        <h2>7. Modifications de la politique de confidentialité :</h2>
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page.</p>

        <h2>8. Contact :</h2>
        <p>Pour toute question concernant notre politique de confidentialité, vous pouvez nous contacter à l'adresse suivante :
            <a href="mailto:contact@ogalaxy.com"role="link" aria-label="Lien pour envoyer un e-mail à contact@ogalaxy.com">contact@ogalaxy.com</a>.</p>
    </div>
</section>
{% endblock %}