{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
<!-- Display the FAQ to the users -->
<section id="faq" aria-labelledby="faq-list" class="misc__wrapper">
	<div class="container-fluid p-5">
		<h3>Questions Fréquemment Posées</h2>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Quels types d'expéditions proposez-vous ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse des types d'expéditions">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>Nous proposons une variété d'expéditions vers différentes destinations de l'univers de Star Wars, allant des aventures sur des planètes emblématiques comme Tatooine et Endor aux explorations de ruines antiques sur Coruscant et bien plus encore. Consultez notre page "Expéditions" pour découvrir toutes nos offres.</p>
			</div>
		</article>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Comment puis-je réserver une expédition ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse de la procédure de réservation">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>Vous pouvez réserver une expédition en remplissant notre formulaire de réservation en ligne sur la page de chaque expédition. Une fois votre réservation confirmée, notre équipe vous contactera pour finaliser les détails de votre voyage.</p>
			</div>
		</article>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Quels sont les équipements nécessaires pour participer à une expédition ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse des équipements nécessaires">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>Les équipements nécessaires varient en fonction de chaque expédition, mais généralement, nous recommandons d'apporter des vêtements confortables et adaptés à la météo de la destination, des chaussures de marche robustes, de la crème solaire, et tout autre équipement spécifique mentionné dans la description de l'expédition.</p>
			</div>
		</article>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Comment puis-je annuler ma réservation ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse de la procédure d'annulation">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>Pour annuler une réservation, veuillez nous contacter directement par e-mail ou par téléphone en indiquant votre numéro de réservation. Veuillez consulter nos conditions générales de vente pour plus d'informations sur notre politique d'annulation.</p>
			</div>
		</article>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Quelles sont les mesures de sécurité prises lors des expéditions ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse sur les mesures de sécurité">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>La sécurité de nos participants est notre priorité absolue. Nous travaillons en étroite collaboration avec des experts en sécurité pour garantir que toutes nos expéditions respectent les normes les plus élevées en matière de sécurité. Cela comprend la formation de notre personnel, l'évaluation des risques, l'utilisation d'équipements de sécurité appropriés et la mise en place de protocoles d'urgence.</p>
			</div>
		</article>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Puis-je participer à une expédition si je suis novice en matière d'aventure ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse sur les conditions physiques">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>Oui, absolument ! Nous accueillons les participants de tous niveaux d'expérience. Nos expéditions sont conçues pour être accessibles aux débutants tout en offrant également des défis aux aventuriers plus expérimentés. Nos guides expérimentés sont là pour vous guider à chaque étape du voyage et veiller à ce que vous vous sentiez en sécurité et à l'aise.</p>
			</div>
		</article>
		<article>
			<h4 class="question d-inline-block border-bottom pb-2">Y a-t-il des restrictions d'âge pour participer à une expédition ?
				<button class="plus" type="button" aria-label="Bouton pour afficher la réponse sur les restrictions d'âges">
					<i class="bi bi-plus-circle-dotted" title="Afficher la réponse"></i>
				</button>
			</h4>
			<div class="answer">
				<p>Les restrictions d'âge varient en fonction de chaque expédition. Certaines expéditions peuvent être adaptées à tous les âges, tandis que d'autres peuvent avoir des restrictions d'âge minimales pour des raisons de sécurité ou de difficulté. Veuillez consulter la page de chaque expédition pour connaître les restrictions d'âge spécifiques.</p>
			</div>
		</article>
	</div>
</section>
{% endblock %}