{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<!-- Display the legal notice -->
<section id="legal-notice" aria-labelledby="legal-notice-list" class="misc__wrapper">
	<div class="container-fluid p-5">
		<h2>Mentions Légales</h2>
		<h3>1. Éditeur du site :</h3>
		<p>Nom de l'entreprise : O'Galaxy Enterprises Ltd.<br>
			Forme juridique : Société par Actions Simplifiée (SAS)<br>
			Adresse du siège social : 123 Rue de l'Espace, 29100 Douarnenez, Bretagne, France<br>
			Numéro de téléphone : +33 1 23 45 67 89<br>
			Adresse e-mail :
			<a href="mailto:contact@ogalaxy.com" contact@ogalaxy>contact@ogalaxy.com</a><br>
			Directeur de la publication : Leia Organa<br>
			Numéro RCS : 123 456 789 R.C.S. Douarnenez<br>
			Capital social : 1 000 000 000 €</p>

		<h3>2. Hébergeur du site :</h3>
		<p>Nom de l'hébergeur : Galactic Hosting Solutions<br>
			Adresse : 456 Avenue des Étoiles, 75000 Paris, France<br>
			Numéro de téléphone : +33 1 98 76 54 32<br>
			Adresse e-mail :
			<a href="mailto:support@galactichosting.com" role="link" aria-label="Lien pour envoyer un e-mail à support@galactichosting.com">support@galactichosting.com</a>
		</p>

		<h3>3. Protection des données personnelles :</h3>
		<p>Conformément à la loi sur la protection des données personnelles, les informations recueillies via le site web d'O'Galaxy sont traitées de manière confidentielle. Les utilisateurs disposent d'un droit d'accès, de modification et de suppression de leurs données en contactant O'Galaxy à l'adresse
			<a href="mailto:contact@ogalaxy.com" role="link" aria-label="Lien pour envoyer un e-mail à contact@ogalaxy.com">contact@ogalaxy.com</a>.</p>

		<h3>4. Propriété intellectuelle :</h3>
		<p>Le contenu du site web d'O'Galaxy (textes, images, vidéos, etc.) est protégé par les lois sur la propriété intellectuelle. Toute reproduction ou utilisation sans autorisation préalable est strictement interdite.</p>

		<h3>5. Cookies :</h3>
		<p>Le site web d'O'Galaxy utilise des cookies pour améliorer l'expérience de l'utilisateur. En naviguant sur ce site, vous consentez à l'utilisation de cookies.</p>

		<h3>6. Liens hypertextes :</h3>
		<p>O'Galaxy décline toute responsabilité quant au contenu des sites web externes liés à son site.</p>

		<h3>7. Droits de reproduction :</h3>
		<p>La reproduction de tout ou partie du contenu du site d'O'Galaxy est interdite sans autorisation préalable.</p>

		<h3>8. Loi applicable :</h3>
		<p>Les présentes mentions légales sont régies par le droit français.</p>

		<p>Ces mentions légales peuvent être modifiées à tout moment, il est recommandé de les consulter régulièrement.</p>
	</div>
</section>
{% endblock %}