{% extends 'back/backoffice.html.twig' %}

{% block title %}Accueil - Backoffice{% endblock %}

{% block body %}
<!-- Display the main page of the backoffice-->
<section id="home" aria-labelledby="homepage">
    <div class="d-flex justify-content-center align-items-center p-3">
        <img src="{{ asset('images/palpatine.jpeg') }}" alt="Guillaume Pâle Patine" class="img-fluid rounded-circle main__img m-2 p-2 col-4" alt="Photo du président de O'Galaxy">
        <div class="container mt-3 mb-3 col-8">
            <h3 class="mt-3 mb-3 page__title">Le mot du président !</h3>
            <p class="note__info">Chères et chers membres de l'équipe,<br><br>
            Je tiens à vous souhaiter la bienvenue sur la page d'accueil de notre backoffice. Vous êtes les artisans de notre succès et je suis reconnaissant pour votre dévouement et votre travail acharné qui font de O'Galaxy une agence de voyage intergalactique de premier plan. Ce backoffice est l'épicentre de notre activité, où nous planifions, coordonnons et exécutons chaque détail de nos expéditions interstellaires. C'est ici que se concrétisent nos idées les plus audacieuses et que nous transformons les rêves de nos clients en réalité.<br><br>
            Votre expertise, votre créativité et votre passion sont les piliers sur lesquels repose notre succès. Ensemble, nous repoussons les frontières de l'exploration spatiale et ouvrons de nouvelles voies vers l'inconnu.<br><br>
            Je vous remercie pour votre engagement envers notre mission et je suis impatient de voir ce que l'avenir nous réserve.<br><br>
            Cordialement,<br><br>
            Guillaume Pâle Patine<br>
            Président, O'Galaxy</p>       
        </div>
    </div>
</section>
{% endblock %}