{% extends 'base.html.twig' %}



{% block title %}Page non trouvée {% endblock %}

{% block body %}
<section>
    <div class="container__error d-flex flex-column align-items-center justify-content-center">
        <div class="header__page__error d-flex align-items-center flex-column justify-content-center">
            <h2 class="h1__error">404</h2>
            <h3 class="h3__error"> LOST IN SPACE | Page non trouvée </h3>
        </div>
            <img class="img__error rounded-circle m-3" src="{{ asset('images/error404.gif') }}" alt="404 page not found">
        <div class="footer__page__error ">
            <p class="p__error">Oups ! Je crois que ta navette n'est pas arrivée à bon port !</p>
            <a href="{{ path('app_home') }}" class=" btn list__btn"> Retour sur Terre </a>
        </div>
    </div>
</section>
{% endblock %}